

/*header*/

#zone-branding-wrapper{	
background: #020100;
width: 100%;
height: 20px;

}

#zone-menu-wrapper{margin-top: 20px;}
#block-block-2{float: left; padding: 10px; background: #aeafb1; -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;}
.logo{ background:url(../logo.png) no-repeat; width: 140px; height: 40px; 
}
#block-superfish-1{padding: 10px;}
/*header*/


/*Content*/
.cat-content{
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  height:200px;
  padding: 10px;
  border:#EAEAEA solid 1px;
  background: #E9EBEF;
  margin: 0px 4px 26px 4px;
  float:left;
  text-align:center;
  font-size: 12px;
 }

.cat-title{ text-align: center; 
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 19px;
	text-decoration: none;
	color: #21477E;
	top: 5px;
	font-weight: 700;}
.cat-title a{text-decoration: none;}	
.cat-img{ padding: 20px;}

/*Content*/

/*Footer*/

  /*Menu Secundario*/
#block-menu-menu-footer-menu .content{ font-size: 12px;} 

#block-menu-menu-footer-menu .content{
  padding: 0px;
  display: inline;
  float: left;
  overflow: auto;
  margin-top: 15px;}


#block-menu-menu-footer-menu  ul > li {
   margin: 0px;
   padding: 0px;
  list-style: none;
  float: left;
  width: 175px;
  margin-bottom: 10px;
  list-style: none;
   
  }
#zone-postscript-wrapper{border: solid 1px #dedfe1}

#block-menu-menu-footer-menu > .clearfix ul > li > a {
  color: #575A62;
  text-decoration: none;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

#block-menu-menu-footer-menu .nolink{ font-weight: bold; font-size: 13px;  color: #575A62; 
                                      float: left;   margin-bottom: 10px;  }


#block-menu-menu-footer-menu  ul > li ul {
  color: #575A62;
  text-decoration: none;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  margin-bottom: 10px;
  display: block;
  cursor: none;
  font-weight: bold;
}

 /*Menu Secundario*/


  #section-footer{	
background: #020100;
width: 100%;
height: 70px;
}

#region-footer-second{color:#fff;}

/*Footer*/

